<div class="read-more">
    <iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=2615146412&verifier=c63cf5f5&dpc=1"></iframe>
    <hr>
    <div class="read-more-header">
        <a href="{{ site.url }}/blog/posts" class="read-more-btn">更多文章</a>
    </div><!-- /.read-more-header -->
    <hr>
    {% for post in site.related_posts limit:5 offset:1 %}
      <div align="left">
        <h4><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
      </div><!-- /.list-item -->
    {% endfor %}
    <hr>
    <div class="read-more-header">
      <a href="{{ site.url }}{{ page.previous.url }}" class="read-more-btn">手气不错</a>
    </div><!-- /.read-more-header -->
</div><!-- /.read-more -->
