// Typography
// --------------------------------------------------
$base-font: "微软雅黑", "Arial", "Helvetica", "sans-serif";
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: 16;
$doc-line-height: 26;


// 设置body的字体尺寸和行高
body {
	margin-top: 0px + $doc-line-height;
	font-size: 0px + $doc-font-size;
}


// 色彩定义
// --------------------------------------------------
$base-color				   : #222;
$body-color      		 : #e8e8e8;
$text-color      		 : #222;
$comp-color 	 		   : complement($base-color);
$border-color    		 : lighten($base-color,60);
$white           		 : #fff;
$black           		 : #000;
$link-color 		     : #222;

$primary			       : $base-color;
$success			       : #009933;
$warning			       : #FF6600;
$danger				       : #d50000;
$info				         : #0099FF;


// 屏幕尺寸 // --------------------------------------------------
$small               : "only screen and (min-width: 30em)";
$medium              : "only screen and (min-width: 48em)";
$large               : "only screen and (min-width: 62.5em)";
