<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}
        <div class="container">
        <div id="toc"></div>
        <article class="entry">
            <header>
            <div class="list-group-item">
                <th><h1 class="list-group-item-heading">{{ page.title }}</h1></th>
            </tr></div>
            <div class="list-group-item">
                <i class="fa fa-calendar"> {{ page.modified|date:"%Y-%m-%d" }}</i>
            </tr></div><hr>
            </header>
            <div class="maintext">
            {{ content }}
            </div>
            <div id="uyan_frame" style="margin-top:50px;"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1955791"></script>
        </article>
        </div>
        {% include js.html %}
        <script>
            $("#toc").tocify();
        </script>
    </body>
</html>
