<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include header.html %}
    <body>
        <div class="container-fluid" style="margin-top:50px;">
            <div class="row-fluid">
                <div class="col-md-3">
                    <div id="toc"></div>
                </div>
                <div class="col-md-9">
                    <header>
                    <div class="list-group-item">
                        <th><h1 class="list-group-item-heading">{{ page.title }}</h1></th>
                    </tr></div>
                    <div class="list-group-item">
                        <i class="fa fa-calendar"> {{ page.modified|date:"%Y-%m-%d" }}</i>
                    </tr></div><hr>
                    </header>
                    {{ content }}
                    <div id="uyan_frame" style="margin-top:50px;"></div>
                </div>
            </div>
        </div>
        {% include js.html %}
        <script>
            $(document).ready(function() {
                $("#toc").tocify();
            });
        </script>
    </body>
</html>
